<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DACS3"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DangKiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChiTietActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThongTinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GiayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LienHeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"></activity>

    </application>

</manifest>